

.titulo{
    position: relative;bottom: 80px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 100px;
    margin-top: 0px;
    padding: 0px;
}
.images{
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative; bottom: 150px;
    width: 1200px;
    height: 350px;
    background-color: black;
}
.img1{
    width: 600px;
    height: 350px;

}
.img2{
    width: 600px;
    height: 350px;
}
.img3{
    width: 600px;
    height: 350px;
}